.list{
  display: grid;
  grid-template-columns:250px 260px 260px ; 
  vertical-align: top;
 margin-top: 0px;
 padding-top: 0px ;
  }
  .photo1{
    width:240px; 
    border-radius: 4px;
    transition-duration: 3s;
   
  }
  .photo1:hover{
    border-radius: 100px;
    height: 30;
   
    transform: scale(1.2) ;
    

  }
  .photo2{
    width:250px;
    border-radius: 4px;
     transition-duration: 3s;
    
  }
  .photo2:hover{
    border-radius: 100px;
    height: 30;
    transform: scale(1.2) ;
  }
    
  .photo3{
    width:250px;
    border-radius: 4px;
    transition-duration: 3s;
  }
  .photo3:hover{
    border-radius: 100px;
    height: 30;
  
    transform: scale(1.2) ;
  }